@{
    ViewBag.Title = "عن الموقع..";
}
<h2>@ViewBag.Title.</h2>


<p>الحصول على أجر مدفوع بشكلٍ منتظم،[١] فيسعى الكثير من الأشخاص إلى البحث عن وظائف تناسبهم
    ، ومن الأمثلة عليهم طُلّاب الجامعات، فبعد تخرّجهم منَ الجامعة يبدؤون بالبحثِ عن وظائف تُساعدهم
     على تأمين مُستقبلهم، وتحقيق دخلٍ جيّدٍ ومناسب لهم، ولكن للأسف هناكَ الكثير من الباحثين عن
     الوظائف يُخفِقون في الحصول على الوظيفة التي تناسبهم؛ بسبب عدم إدراكهم للمهارات المناسبة
     عند التقدّم للوظيفة أو لارتكابهم أخطاء أثناء كتابتهم للطلب الخاص بالوظيفة.
    </p>

